<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :product_ids, style: "display: block" %>
    <label> Select multiple aggregators by holding the command key </label>
    <%= form.select :product_ids, options_for_select(Product.all.map {|a| [a.name, a.id]}, customer.product_ids),{include_blank: false} , class:"form-select", multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
